
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');
/* change the background image here */
header{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)),url("https://images.unsplash.com/photo-1495837174058-628aafc7d610?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80")
 ;
 color: white;
height: 100vh;
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner-text p{
    font-family: 'Baloo Da 2', cursive;
    color: #ffffff;
}
.banner-btn a{

    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 15px;
    display: inline-block;
    width: 200px;
}
.banner-btn a.active{
   border: 1px solid teal;
   color: #ffffff;
   border-radius: 4px;
}
.banner-btn1 {
    border: 1px solid teal;
    color: #ffffff;
    border-radius: 1px;
    width: 100px;
   
   

 }
.banner-btn1:hover{
    color: rgba(24, 156, 218, 0.849);
    background-color: rgba(9, 74, 160, 0.897);
    border: none;
}

.text-area{
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 42px;
    font-family: 'Courier New', Courier, monospace;
}
.text-area span{
    color: teal;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: animate 5s forwards;
}
.text-area span{
    display: inline-block;

}
.text-area span:nth-of-type(2){
    animation-delay: .1s;
}
.text-area span:nth-of-type(3){
    animation-delay: .2s;
}
.text-area span:nth-of-type(4){
    animation-delay: .3s;
}
.text-area span:nth-of-type(5){
    animation-delay: 4s;
}
.text-area span:nth-of-type(6){
    animation-delay: .5s;
}
.text-area span:nth-of-type(7){
    animation-delay: .6s;
}
.text-area span:nth-of-type(8){
    animation-delay: .7s;
}
.text-area p{
    letter-spacing: -7px;
    font-weight: 400;
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
}
@keyframes animate{
    30%{
        transform: translate(0,-50px) rotate(180deg) scale(1);
    }
    60%{
        transform: translate(0,20px) rotate(.8deg) scale(1);
    }
    100%{
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

@media(min-width:310px){
    .text-area p{
        display:flex;
        width: 80%;
        font-size: 11px;
        letter-spacing: -4px;
    }
.banner-text p{
    width: 80%;
}
}
@media(max-width:600px){
    .banner-text p{
        display: inline-block;
        width:300px;
    }
    .navbar-dark{
        background-color: #333;
    }
    .text-area{
        font-size: 30px;
    }
}